section.about-company.block-container
  div.about-company__text
    h3.about-company__text_heading ООО «ИК Строймост»
    p.about-company__text_item Современные инженерно геодезические изыскания позволяют предсказать и проанализировать уже сложившиеся условия природного и техногенного планов. Впоследствии эта информация может стать основой для дальнейшего развития проекта, а в большинстве случаев - и для начала его строительства.
    p.about-company__text_item Современные инженерно геодезические изыскания позволяют предсказать и проанализировать уже сложившиеся условия природного и техногенного планов. Впоследствии эта информация может стать основой для дальнейшего развития проекта, а в большинстве случаев - и для начала его строительства.
    p.about-company__text_item Современные инженерно геодезические изыскания позволяют предсказать и проанализировать уже сложившиеся условия природного и техногенного планов. Впоследствии эта информация может стать основой для дальнейшего развития проекта, а в большинстве случаев - и для начала его строительства.
  div.about-company__logo
    img(src="/img/index/logo.png", alt="Логотип ИК Строймост")