section.aerial-photography
  article.block-container
    div.aerial-photography__info-wrapper
      div.aerial-photography__info
        p.aerial-photography__info-title При заказе строительно-технической экспертизы
        h3.aerial-photography__info-heading Аэрофотосъемка в подарок
        p.aerial-photography__info-text Основной причиной снижения темпов при строительстве крупных объектов являются ошибки в стратегическом планировании, координации действий и коммуникациях. Новая система мониторинга может выполнять автоматический контроль выполнения работ на строящемся объекте с
      div.aerial-photography__foto
        img(src="../img/index/content/quadrupter.png")
    form.aerial-photography__form
      div.aerial-photography__form_wrapper
        input.aerial-photography__form_item(type="text", placeholder="Ваше имя" required)
        input.aerial-photography__form_item(type="tel", id="aerial-photography__tel", placeholder="Ваш телефон" required)
        button.aerial-photography__form_item.button.button__filled_blue(type="submit") Получить подарок
      input.aerial-photography__form_checkbox.visually-hidden(type="checkbox" id="required" checked required)
      label.aerial-photography__form_checkbox-label(for="required") Нажимая на кнопку, я даю свое согласие на обработку персональных данных