div.alert-success
  div.alert-success__overlay
  div.alert-success__block
    button.alert-success__block_close-button
      span.alert-success__block_button-img
        svg
          use(xlink:href='#modal-close')
    img.alert-success__block_check(src="/img/style/check.png")
    h4.alert-success__block_heading Спасибо!
    p.alert-success__block_text Ваша заявка успешно принята
    p.alert-success__block_text Мы свяжемся с Вами в ближайшее время