div.aside-menu
  ul.aside-menu__list
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Строительный контроль
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/") Проведение технического надзора
    li.aside-menu__list_item
      a( href="/") Геодезическое сопровождение
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Инженерное обследование зданий и сооружений
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/") Проведение технического надзора
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Строительный контроль
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/") Проведение технического надзора
    li.aside-menu__list_item
      a( href="/") Геодезическое сопровождение
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Инженерное обследование зданий и сооружений
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/") Проведение технического надзора
  section.aside-menu__certificates
    h4.aside-menu__certificates_heading Наши сертификаты
    div.aside-menu__certificates_block.aside-carusel.owl-theme.owl-carousel
      div.aside-menu__certificates_block_item
        span#certificates-1(role="button")
          img(src="/img/index/certificates/certificate_1.png")
      div.aside-menu__certificates_block_item
        span#certificates-2(role="button")
          img(src="/img/index/certificates/certificate_2.png")
      div.aside-menu__certificates_block_item
        span#certificates-3(role="button")
          img(src="/img/index/certificates/certificate_3.png")
      div.aside-menu__certificates_block_item
        span#certificates-4(role="button")
          img(src="/img/index/certificates/certificate_4.png")