div.aside-menu
  ul.aside-menu__list
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Строительный контроль
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Проведение технического надзора
    li.aside-menu__list_item
      a( href="/pages/services-item.html") Геодезическое сопровождение
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Инженерное обследование зданий и сооружений
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Проведение технического надзора
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Строительный контроль
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Проведение технического надзора
    li.aside-menu__list_item
      a( href="/pages/services-item.html") Геодезическое сопровождение
    li.aside-menu__list_item
      button
        span.aside-menu__list_item-arrow
        |Инженерное обследование зданий и сооружений
      ul.aside-menu__sublist
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор объектов
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Технический надзор заказчика
        li.aside-menu__sublist_item
          a( href="/pages/services-item.html") Проведение технического надзора1
  div.main__aside-certificates
    include aside-certificates.pug