section.contacts
  div.block-container.contacts__wrapper
    div.contacts__block.vcard
      span.fn.org
        span.value-title(title="ООО «ИК Строймост»")
      span.url
        span.value-title(title="https://morecodemore.github.io/stroymost.online/")
      h4.contacts__block_heading Контакты
      div.contacts__block_item.tel
        span.contacts__block_item-name Телефон
        a.contacts__block_item-value.value(href="tel:+74953993331") +7(495) 399-33-31
      div.contacts__block_item.email
        span.contacts__block_item-name Электронная почта
        a.contacts__block_item-value.value(href="mailto:admin@sitename.ru") admin@sitename.ru
      div.contacts__block_item.adr
        span.contacts__block_item-name Адрес
        p.contacts__block_item-value
          span.locality г. Москва, ул.
          span.street-address Чекистов 28, офис 4
      button.button.button-radius.button__filled_blue.modal-form-button#modal-button(type="submit") Написать нам
  div.contacts__card#main-cart