section.contacts
  div.block-container.contacts__wrapper
    div.contacts__block
      h4.contacts__block_heading Контакты
      div.contacts__block_item
        span.contacts__block_item-name Телефон
        a.contacts__block_item-value(href="tel:+74953993331") +7(495) 399-33-31
      div.contacts__block_item
        span.contacts__block_item-name Электронная почта
        a.contacts__block_item-value(href="mailto:admin@sitename.ru") admin@sitename.ru
      div.contacts__block_item
        span.contacts__block_item-name Адрес
        p.contacts__block_item-value г. Москва, ул. Чекистов 28, офис 4
      button.button.button-radius.button__filled_blue#modal-button Написать нам
  div.contacts__card#main-cart