section.certificates
  div.block-container
    h3.certificates__heading Допуски и Сертификаты
    p.certificates__text Вся наша деятельность от начала и до конца законна, прозрачна и понятна. И исключений из этого правила мы для себя не делаем
    section.certificates__block.certificates-carusel.owl-carousel.owl-theme
      article.certificates__block_item
        span#certificates-1(role="button")
          img(src="/img/index/certificates/certificate_1.png")
      article.certificates__block_item
        span#certificates-2(role="button")
          img(src="/img/index/certificates/certificate_2.png")
      article.certificates__block_item
        span#certificates-3(role="button")
          img(src="/img/index/certificates/certificate_3.png")
      article.certificates__block_item
        span#certificates-4(role="button")
          img(src="/img/index/certificates/certificate_4.png")
      article.certificates__block_item
        span#certificates-5(role="button")
          img(src="/img/index/certificates/certificate_4.png")