section.customers
  div.block-container
    h3.customers__heading Наши клиенты
    p.customers__text Отзывы и благодарственные письма от наших клиентов
  section.customers__block.customers-carusel.owl-carousel.owl-theme
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/danfuss.png", alt="danfuss")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/danfuss.png", alt="danfuss")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/thl.png", alt="thl")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/thl.png", alt="thl")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/gazprom.png", alt="gazprom")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/gazprom.png", alt="gazprom")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/mekran.png", alt="mekran")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/mekran.png", alt="mekran")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/ashan.png", alt="ashan")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="../img/index/clientage/ashan.png", alt="ashan")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/mosenergocbyt.png", alt="mosenergocbyt")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/mosenergocbyt.png", alt="mosenergocbyt")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/abb.png", alt="abb")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/abb.png", alt="abb")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/mrsk.png", alt="mrsk")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/mrsk.png", alt="mrsk")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/keralit.png", alt="keralit")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/keralit.png", alt="keralit")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/ashan.png", alt="ashan")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/ashan.png", alt="ashan")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    article.customers__block_item
      img.customers__block_item-logo(src="/img/index/clientage/gazprom.png", alt="gazprom")
      div.customers__tooltip
        div.customers__tooltip_gratitude
          img(src="/img/index/gratitudes/gratitude.png", alt="gratitude")
        div.customers__tooltip_info
          img.customers__tooltip_info-logo(src="/img/index/clientage/gazprom.png", alt="gazprom")
          h4.customers__tooltip_info-heading Технический надзор за строительними работами на объекте заказчика
          p.customers__tooltip_info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla