ul.menu__list
  li.menu__list_item.menu-close
    button.menu__button_close
      span.menu__button_close-icon
        svg
          use(xlink:href='#close')
      span.menu__button_close-text Закрыть меню
  li.menu__list_item
    a.menu__list_item_link(href="/pages/services.html") Услуги
  li.menu__list_item
    a.menu__list_item_link(href="/") Проекты
  li.menu__list_item
    a.menu__list_item_link(href="/") Клиенты
  li.menu__list_item
    a.menu__list_item_link(href="/") О компании
  li.menu__list_item
    a.menu__list_item_link(href="/") Новости
  li.menu__list_item
    a.menu__list_item_link(href="/") Вакансии
  li.menu__list_item
    a.menu__list_item_link(href="/") Контакты