nav.menu
  ul.menu__list
    li.menu__list_item
      button.menu__close
        span.menu__close_icon
          svg.menu__close_text
            use(xlink:href='#close')
        span Закрыть меню
    li.menu__list_item
      a.menu__list_item_link(href="/") Услуги
    li.menu__list_item
      a.menu__list_item_link(href="/") Проекты
    li.menu__list_item
      a.menu__list_item_link(href="/") Клиенты
    li.menu__list_item
      a.menu__list_item_link(href="/") О компании
    li.menu__list_item
      a.menu__list_item_link(href="/") Новости
    li.menu__list_item
      a.menu__list_item_link(href="/") Вакансии
    li.menu__list_item
      a.menu__list_item_link(href="/") Контакты