ul.menu__list
  li.menu__list_item.menu-close
    button.menu__button_close
      span.menu__button_close-icon
        svg
          use(xlink:href='#close')
      span.menu__button_close-text Закрыть меню
  li.menu__list_item
    a.menu__list_item_link(href="/pages/services.html") Услуги
  li.menu__list_item
    a.menu__list_item_link(href="/pages/projects.html") Проекты
  li.menu__list_item
    a.menu__list_item_link(href="/pages/customers.html") Клиенты
  li.menu__list_item
    a.menu__list_item_link(href="/pages/price.html") Цены
  li.menu__list_item
    a.menu__list_item_link(href="/pages/about.html") О компании
  li.menu__list_item
    a.menu__list_item_link(href="/pages/news.html") Новости
  li.menu__list_item
    a.menu__list_item_link(href="/pages/vacancy.html") Вакансии
  li.menu__list_item
    a.menu__list_item_link(href="/pages/contacts.html") Контакты