#modal__certificates-1.modal.modal__certificates
  .modal__overlay
  .modal__block
    button.modal__block_close
      svg.close-modal
        use(xlink:href='#modal-close')
    img.modal__certificates_img(src='/img/index/certificates/certificate_1.png', alt='Сертификат')
#modal__certificates-2.modal.modal__certificates
  .modal__overlay
  .modal__block
    button.modal__block_close
      svg.close-modal
        use(xlink:href='#modal-close')
    img.modal__certificates_img(src='/img/index/certificates/certificate_2.png', alt='Сертификат')
#modal__certificates-3.modal.modal__certificates
  .modal__overlay
  .modal__block
    button.modal__block_close
      svg.close-modal
        use(xlink:href='#modal-close')
    img.modal__certificates_img(src='/img/index/certificates/certificate_3.png', alt='Сертификат')
#modal__certificates-4.modal.modal__certificates
  .modal__overlay
  .modal__block
    button.modal__block_close
      svg.close-modal
        use(xlink:href='#modal-close')
    img.modal__certificates_img(src='/img/index/certificates/certificate_4.png', alt='Сертификат')
#modal__certificates-5.modal.modal__certificates
  .modal__overlay
  .modal__block
    button.modal__block_close
      svg.close-modal
        use(xlink:href='#modal-close')
    img.modal__certificates_img(src='/img/index/certificates/certificate_4.png', alt='Сертификат')
