#modal__gratitudes-1.modal.modal__certificates
  .modal__overlay
  .modal__block
    button.modal__block_close
      svg.close-modal
        use(xlink:href='#modal-close')
    img.modal__certificates_img(src='/img/index/gratitudes/gratitude.png', alt='Благодарность')
