section.news
  div.block-container
    h3.news__heading Новости
    div.news__wrapper.news-carusel.owl-carousel.owl-theme
      article.news__item
        p.news__item_date 1.04.2016 г.
        h4.news__item_heading Международная школа
        p.news__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        a.button.button-radius.button__blue-border(href="/") Подробнее
      article.news__item
        p.news__item_date 1.04.2016 г.
        h4.news__item_heading Международная школа
        p.news__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        a.button.button-radius.button__blue-border(href="/") Подробнее
      article.news__item
        p.news__item_date 1.04.2016 г.
        h4.news__item_heading Международная школа
        p.news__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        a.button.button-radius.button__blue-border(href="/") Подробнее