div.owl-carousel.owl-theme.projects-carusel
  section.projects-section
    article.block-container
      h3.projects-section__heading Проекты
      div
        p.projects-section__date 1.04.2016 г.
        h4.projects-section__subheading Международная школа
        p.projects-section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        a.button.button-radius.button__empty_white(href="/") Подробнее
  section.projects-section
    article.block-container
      h3.projects-section__heading Проекты
      div
        p.projects-section__date 1.04.2016 г.
        h4.projects-section__subheading Международная школа
        p.projects-section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        a.button.button-radius.button__empty_white(href="/") Подробнее
  section.projects-section
    article.block-container
      h3.projects-section__heading Проекты
      div
        p.projects-section__date 1.04.2016 г.
        h4.projects-section__subheading Международная школа
        p.projects-section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        a.button.button-radius.button__empty_white(href="/") Подробнее