.customers-page {
  display: flex;
  flex-direction: column;
  padding: 30px 0 60px;
  &__heading {
    margin-bottom: 13px;
    font-size: $-heading-xl--font_size;
    line-height: 54px;
    @include media-breakpoint-down(sm) {
      margin-top: 25px;
      font-size: 30px;
      line-height: 30px;
    }
  }
  &__title {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 28px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 35px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__block {
    margin-bottom: 30px;
    display: flex;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  &__block_logo,
  &__block_description {
    border: 1px solid $-border-dark--color;
  }
  &__block_logo {
    padding: 53px;
    width: 189px;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding: 30px;
      width: 100%;
      border-bottom: none;
      img {
        max-height: 70px;
      }
    }
  }
  &__block_description {
    padding: 30px;
    max-width: 955px;
    border-left: none;
    @include media-breakpoint-down(md) {
      border: 1px solid $-border-dark--color;
    }
    @include media-breakpoint-down(sm) {
      padding: 25px;
    }
  }
  &__block_description-heading {
    font-size: 22px;
    line-height: 26px;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
  &__block_description-text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &__block_gratitudes {
    display: flex;
    flex-wrap: wrap;
  }
  &__block_gratitudes-item {
    display: inline-block;
    max-width: 77px;
    cursor: pointer;
    img {
      max-width: 77px;
      transition: transform .2s ease-in-out;
    }
  }
  &__block_gratitudes-item:hover img {
    transform: scale(1.1);
  }
  &__block_gratitudes-item:not(:last-child) {
    margin-right: 30px;
  }
  .button {
    align-self: center;
    width: 353px;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, color .15s ease-in-out;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .button:hover {
    background-color: $-active--color;
    color: $-white--color;
  }
  .button:active {
    background-color: $--active-color-darken-15;
  }
}