.price {
  padding-bottom: 44px;
  &__link-block {
    display: flex;
    flex-direction: column;
  }
  &__link-block_item {
    position: relative;
    padding: 20px;
    padding-right: 45px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 18px;
    color: $-black--color;
    border-radius: 8px;
    border: 1px solid $-border-dark--color;
    transition: border .2s ease-in-out;
  }
  &__link-block_item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__link-block_item:hover {
    text-decoration: none;
    color: $-black--color;
    border: 1px solid $-active--color;
  }
  &__link-block_item-arrow {
    position: absolute;
    top: 17px;
    right: 15px;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    color: $-border-dark--color;
    border: 1px solid $-border-dark--color;
    transition: color .2s ease-in-out;
  }
  &__link-block_item:hover &__link-block_item-arrow {
    color: $-active--color;
  }
  &__button-block {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    .button {
      padding-left: 22px;
      padding-right: 22px;
      width: 230px;
      text-align: center;
      @include media-breakpoint-down(lg) {
        width: auto;
      }
    }
    .button:not(:last-child) {
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }
}
