.vacancy-item-page {
  .vacancy-page__block_item_info {
    margin-bottom: 0;
  }
  .vacancy-page {
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
  }
  &__heading {
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    max-width: 625px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 45px;
      font-size: 30px;
      line-height: 36px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 35px;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  &__block {
    max-width: calc(50% - 15px);
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &__block:not(:nth-child(2n)) {
    margin-right: 30px;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }
  &__block:first-child {
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &__block_heading {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  &__block_list {
    list-style: none;
  }
  &__block_list-item {
    position: relative;
    padding-left: 33px;
    margin-bottom: 20px;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
    }
    span {
      font-size: 18px;
      line-height: 24px;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .contacts-form {
    position: static;
  }
  .contacts-page {
    display: flex;
    justify-content: center;
    width: 100%;
    .vacancy-item-page__block_heading {
      margin-bottom: 35px;
      font-size: 30px;
      line-height: 25px;
      @include media-breakpoint-down(md) {
        margin-top: 35px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 15px;
      }
      @include media-breakpoint-down(xs) {
        margin-bottom: 25px;
        font-size: 24px;
      }
    }
    .contacts-wrapper {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    .form-wrapper {
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0;
      }
    }
    .contacts-form {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }
    }
  }
  .contacts__block {
    display: none;
  }
  .main__block {
    margin-bottom: 0;
  }
}