doctype html
html(lang='ru')
  head
    include pages/components/head.pug
    title ИК Строймост - Строительство и строительная экспертиза
  body
    header Jade - node template engine
    #container.col
    main You are amazing
    footer Jade is a terse and simple