doctype html
html(lang='ru')
  head
    include pages/components/head.pug
    title ИК Строймост &#149; Главная
  body.body
    include pages/components/svg-sprite.pug
    header.header-index
      include pages/components/header/header-index.pug
    main
    footer