doctype html
html(lang='ru')
  head
    include components/head/head-other
    title ИК Строймост &#149 Контакты
  body.body.contacts-page
    header.header-other
      include ../pages/components/header/header-other.pug
    main.main__block.main__other
      div.block-container.breadcrumbs-wrapper
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href="/") Главная
            svg.breadcrumbs__item_arrow
              use(xlink:href='#breadcrumbs-arrow')
          li.breadcrumbs__item
            span Контакты
    footer
      div.block-container.form-wrapper
        form.contacts-form(action="#")
          h4.contacts-form__heading Свяжитесь с нами
          input.contacts-form__item(type="text", placeholder="ФИО", required)
          input.contacts-form__item#contacts-form-tel(type="tel", placeholder="Телефон", required)
          textarea.contacts-form__item(rows="5", placeholder="Текст сообщения")
          button.button.button-radius.button__filled_blue(type="submit") Написать нам
      include ../pages/components/card.pug
      include ../pages/components/footer/footer-other.pug
    include ../pages/components/svg-sprite.pug
    include ../pages/components/alert.pug
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
    script(src='../module/ymaps.js', type='text/javascript', async='')
    script(src='../module/jquery-3.3.1.min/index.js')
    script(src='../module/owl.carousel.min.js')
    script(src='../module/jquery.maskedinput.min.js')
    script(src='../module/init-carusel.js')
    script(src='../js/bundle.min.js')
    link(rel='stylesheet', href='/css/js-style.css')