doctype html
html(lang='ru')
  head
    include components/head/head-other
    title ИК Строймост &#149 Услуги
  body.body
    header.header-other
      include ../pages/components/header/header-other.pug
    main.main__block
      section.services.block-container
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href="/") Главная
            svg.breadcrumbs__item_arrow
              use(xlink:href='#breadcrumbs-arrow')
          li.breadcrumbs__item
            span Услуги
        h2.services__heading Услуги
        div.services__block
          a(href="/pages/services-item.html").services__block_item
            span.services__block_item-image
              img(src="/img/pages/services/services-2.png", alt="Строительный контроль")
            span.services__block_item-title Строительный контроль
          a(href="/pages/services-item.html").services__block_item
            span.services__block_item-image
              img(src="/img/pages/services/services-3.png", alt="Геодезическое сопровождение")
            span.services__block_item-title Геодезическое сопровождение
          a(href="/pages/services-item.html").services__block_item
            span.services__block_item-image
              img(src="/img/pages/services/services-4.png", alt="Инженерное обследование зданий")
            span.services__block_item-title Инженерное обследование зданий
      include ../pages/components/projects.pug
      include ../pages/components/customers.pug
    footer
      include ../pages/components/card.pug
      include ../pages/components/footer/footer-other.pug
    include ../pages/components/svg-sprite.pug
    include ../pages/components/modal-form.pug
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
    script(src='../module/ymaps.js', type='text/javascript', async='')
    script(src='../module/jquery-3.3.1.min/index.js')
    script(src='../module/owl.carousel.min.js')
    script(src='../module/jquery.maskedinput.min.js')
    script(src='../module/init-carusel.js')
    script(src='../js/bundle.min.js')
    link(rel='stylesheet', href='/css/js-style.css')