doctype html
html(lang='ru')
  head
    include components/head/head-other
    title ИК Строймост &#149 Вакансия
  body.body.vacancy-item-page
    header.header-other
      include ../pages/components/header/header-other.pug
    main.main__block.main__other
      div.block-container.breadcrumbs-wrapper
        ul.breadcrumbs
          li.breadcrumbs__item
            a(href="/") Главная
            svg.breadcrumbs__item_arrow
              use(xlink:href='#breadcrumbs-arrow')
          li.breadcrumbs__item
            a(href="/pages/vacancy.html") Вакансии
            svg.breadcrumbs__item_arrow
              use(xlink:href='#breadcrumbs-arrow')
          li.breadcrumbs__item
            span Вакансия
      section.vacancy-page.block-container
        p.vacancy-page__block_item_info
          span.vacancy-page__block_item_info-city Москва
          span.vacancy-page__block_item_info-date 12.05.2018г.
        h3.vacancy-item-page__heading Ведущий инженер по обследованию зданий и сооружений
        div.vacancy-item-page__wrapper
          div.vacancy-item-page__block
            h4.vacancy-item-page__block_heading Должностные обязанности:
            ul.vacancy-item-page__block_list
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Организация, проведение и контроль работ по техническому надзору, обследованию зданий и сооружений, проведению строительных экспертиз
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Проведение обмерных работ и подготовка графических материалов по их результатам
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Определение прочностных показателей основных конструкционных материалов методами неразрушающего контроля
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Оценка технического состояния несущих и ограждающих конструкций с учетом выявленных в них дефектов и повреждений
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Выявление причин появления обнаруженных повреждений и дефектов конструкций
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Выполнение поверочных расчетов
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Технический анализ договорной/тендерной документации. Разработка технических заданий на проведение работ по строительному контролю, обследованию зданий и сооружений, проведению экспертиз.
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Оценка технического состояния несущих и ограждающих конструкций с учетом выявленных в них дефектов и поврежде
          div.vacancy-item-page__block
            h4.vacancy-item-page__block_heading Требования:
            ul.vacancy-item-page__block_list
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Организация, проведение и контроль работ по техническому надзору, обследованию зданий и сооружений, проведению строительных экспертиз
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Проведение обмерных работ и подготовка графических материалов по их результатам
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Определение прочностных показателей основных конструкционных материалов методами неразрушающего контроля
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Оценка технического состояния несущих и ограждающих конструкций с учетом выявленных в них дефектов и повреждений
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Выявление причин появления обнаруженных повреждений и дефектов конструкций
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Выполнение поверочных расчетов
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Технический анализ договорной/тендерной документации. Разработка технических заданий на проведение работ по строительному контролю, обследованию зданий и сооружений, проведению экспертиз.
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Оценка технического состояния несущих и ограждающих конструкций с учетом выявленных в них дефектов и повреждений
          div.vacancy-item-page__block
            h4.vacancy-item-page__block_heading Условия:
            ul.vacancy-item-page__block_list
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Организация, проведение и контроль работ по техническому надзору, обследованию зданий и сооружений, проведению строительных экспертиз
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Проведение обмерных работ и подготовка графических материалов по их результатам
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Определение прочностных показателей основных конструкционных материалов методами неразрушающего контроля
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Оценка технического состояния несущих и ограждающих конструкций с учетом выявленных в них дефектов и повреждений
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Выявление причин появления обнаруженных повреждений и дефектов конструкций
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Выполнение поверочных расчетов
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Технический анализ договорной/тендерной документации. Разработка технических заданий на проведение работ по строительному контролю, обследованию зданий и сооружений, проведению экспертиз.
              li.vacancy-item-page__block_list-item
                svg.breadcrumbs__item_arrow
                  use(xlink:href='#mark')
                span Оценка технического состояния несущих и ограждающих конструкций с учетом выявленных в них дефектов и повреждений
          div.vacancy-item-page__block.contacts-page
            div.contacts-wrapper
              h4.vacancy-item-page__block_heading Отдел кадров
              div.block-container.form-wrapper
                div.contacts__block_item
                  span.contacts__block_item-name Телефон
                  a.contacts__block_item-value(href="tel:+74953993331") +7(495) 399-33-31
                div.contacts__block_item
                  span.contacts__block_item-name Электронная почта
                  a.contacts__block_item-value(href="mailto:admin@sitename.ru") admin@sitename.ru
                form.contacts-form(action="#")
                  h4.contacts-form__heading Свяжитесь с нами
                  input.contacts-form__item(type="text", name="name", placeholder="ФИО", required)
                  input.contacts-form__item#contacts-form-tel(type="tel", name="phone", placeholder="Телефон", required)
                  textarea.contacts-form__item(rows="5", name="comment", placeholder="Текст сообщения")
                  button.button.button-radius.button__filled_blue(type="submit") Написать нам
    footer
      include ../pages/components/card.pug
      include ../pages/components/footer/footer-other.pug
    include ../pages/components/svg-sprite.pug
    include ../pages/components/alert.pug
    include ../pages/components/modal-form.pug
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
    script(src='../module/ymaps.js', type='text/javascript', async='')
    script(src='../module/jquery-3.3.1.min/index.js')
    script(src='../module/owl.carousel.min.js')
    script(src='../module/jquery.maskedinput.min.js')
    script(src='../module/init-carusel.js')
    script(src='../js/bundle.min.js')
    link(rel='stylesheet', href='/css/js-style.css')