div.block-container.header-wrapper
  button.menu__button
    svg
      use(xlink:href='#burger')
    |Открыть меню
  img.header-index__logo(src="img/index/logo.png")
  section.header-index__company-info
    h1.header-index__company-info_heading ООО «ИК Строймост»
    p.header-index__company-info_mobile-subheading Строительство и строительная экспертиза
    div.header-index__company-info_wrapper
      div.header-index__company-info_search
        button.header-index__company-info_search-active
          svg
            use(xlink:href='#search')
        form.header-index__company-info_search-form(action="/")
          input.header-index__company-info_search-input(type="search")
          button.header-index__company-info_search-button.visually-hidden(type="submit")
      div
        p.header-index__company-info_tel-info Звонки по всей России бесплатно
        a.header-index__company-info_tel(href="tel:88004556699") 8 (800) 455 66 99
        p.header-index__company-info_tel_mobile-text Бесплатные звонки по РФ
  p.header-index__sub-heading Строительство и строительная экспертиза
  h2.header-index__promo-heading Строительство и строительная экспертиза
  p.header-index__promo-text Наш подход такой, как на Западе – через понятные презентации и образы, постоянное взаимодействие и четко отлаженные бизнес-процессы. Мы решаем ваши задачи и говорим с вами на вашем языке
  section.header-index__services
    div.header-index__services_item
      div.geodesy
        svg.header-index__services_item-image
          use(xlink:href='#geodesy')
      p.header-index__services_item-description
        |Геодезическое
        br
        |сопровождение
    div.header-index__services_item
      div.building
        svg.header-index__services_item-image
          use(xlink:href='#building')
      p.header-index__services_item-description
        | Обследование зданий
        br
        | и сооружений
    div.header-index__services_item
      div.peoples
        svg.header-index__services_item-image
          use(xlink:href='#peoples')
      p.header-index__services_item-description
        | Строительный
        br
        | контроль
  a.header-index__link-more.button.button-radius.button__filled_blue(href="/") Узнать подробнее
nav.menu.menu-index
  include ../menu.pug