html, body {
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-family: $-default-font;
  color: $-black--color;
  overflow-x: hidden;
}

*::selection {
  color: $-white--color;
  background-color: $-active--color;
}

a:focus,
input:focus,
button:focus {
  box-shadow: 0 0 5px $-active--color;
  outline: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

ul, li {
  padding: 0;
}

img, svg {
  max-width: 100%;
}

.block-container,
.menu__list {
  margin: 0 auto;
  @include  make-container-max-widths();
  @include media-breakpoint-down(xs) {
    padding: 0 15px;
  }
}