html, body {
  height: 100%;
  min-width: 320px;
}

*::selection {
  color: $text-white;
  background-color: $dropdown-color;
}

input:focus,
button:focus {
  outline-color: $--active-color-darken-25;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

ul, li {
  padding: 0;
}

.button {
  padding: 19px 20px;
  display: inline-block;
  background-color: $active-color;
  color: $text-white;
  text-transform: uppercase;
  line-height: $label-font_size-sm;
  font-size: $button-font_size;
  letter-spacing: 1.7px;
  font-weight: 900;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.button-lg {
  padding: 27px 46px;
  display: inline-block;
  background-color: $active-color;
  color: $text-white;
  text-transform: uppercase;
  line-height: $label-font_size-sm;
  font-size: $label-font_size-normal;
  letter-spacing: 1.6px;
  font-weight: 900;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.button:hover,
.button-lg:hover {
  background-color: $list-hover;
}

.main-section {
  padding-top: 30px;
}

