html, body {
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-family: $-default-font;
  color: $-black--color;
}

*::selection {
  color: $-white--color;
  background-color: $-active--color;
}

input:focus,
button:focus {

}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

ul, li {
  padding: 0;
}

.block-container,
.menu {
  margin: 0 auto;
  @include  make-container-max-widths()
}

