@font-face {
  font-family: "Arial";
  src: url("../font/ArialRegular/ArialRegular.eot");
  src: url("../font/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
  url("../font/ArialRegular/ArialRegular.woff") format("woff"),
  url("../font/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../font/ArialBold/ArialBold.eot");
  src: url("../font/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
  url("../font/ArialBold/ArialBold.woff") format("woff"),
  url("../font/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Arial";
  src: url("../font/ArialItalic/ArialItalic.eot");
  src: url("../font/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
  url("./font/ArialItalic/ArialItalic.woff") format("woff"),
  url("../font/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../font/ArialBlack/ArialBlack.eot");
  src: url("../font/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
  url("../font/ArialBlack/ArialBlack.woff") format("woff"),
  url("../font/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Arial";
  src: url("../font/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../font/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../font/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
  url("../font/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}