.header {
  @include make-container();
}

.header__info_wrapper,
.header__slider,
.header__nav,
.owl-dots,
.footer__contacts_wrapper,
.main__services,
.main__partners,
.main__trademarks,
.main__certificates,
.footer__info,
.footer-mobile__info_action {
  margin: 0 auto;
  @include make-container-max-widths();
}

.header__info_wrapper,
.main__services,
.main__services_block,
.main__services_block-article,
.main__partners_article-block,
.main__certificates_article-block,
.footer__info,
.header__info_action,
.header__nav_list,
.footer__info_action,
.header__info_block,
.header__info_tel,
.header__info_mail {
  display: flex;
}

.main__services_block,
.header__info_block {
  flex-direction: column;
}

.main__services_block-article,
.main__partners_article-block,
.main__certificates_article-block {
  flex-wrap: wrap;
}