.owl-carousel {
  position: relative;
}

.owl-nav{
  display: flex!important;
  height: 0;
  justify-content: flex-end;
  margin: 0 auto;
  @include  make-container-max-widths();
}

.owl-prev,
.owl-next {
  font-weight: 700!important;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  z-index: 500;
  transition: background-color .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
  span {
    font-size: 30px!important;
    font-weight: 500!important;
    line-height: 23px!important;
  }
  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;
  }
}

.owl-next {
  margin-left: 10px;
}

.projects-carusel {
  .owl-prev,
  .owl-next {
    position: relative;
    top: -455px;
    color: $-white--color!important;
    border: 1px solid $-white--color!important;
    @include media-breakpoint-down(sm) {
      top: -512px;
      background-color: $-active--color!important;
      border: none!important;
    }
  }
  .owl-prev:hover,
  .owl-next:hover {
    background-color: $-active--color!important;
    border: none!important;
  }
}

.news-carusel,
.certificates-carusel,
.customers-carusel {
  .owl-prev,
  .owl-next {
    position: relative;
    top: -433px;
    color: $-active--color!important;
    border: 1px solid $-icon-border--color!important;
    @include media-breakpoint-down(sm) {
      top: -295px;
      color: $-white--color!important;
      border: none!important;
      background-color: $-active--color!important;
    }
  }
  .owl-prev:hover,
  .owl-next:hover {
    color: $-white--color!important;
    background-color: $-active--color!important;
    border: none!important;
  }
}

.news-carusel {
  .owl-prev,
  .owl-next {
    @include media-breakpoint-down(md) {
      top: -415px;
    }
  }
}

.certificates-carusel {
  .owl-prev,
  .owl-next {
    top: -525px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .owl-dots {
    margin-top: 7px;
    @include media-breakpoint-down(sm) {
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
  }
  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $-icon-border--color!important;
    border-radius: 50%;
  }
  .owl-dot:not(:last-child) {
    margin-right: 8px;
  }
  .owl-dot.active {
    background-color: $-active--color!important;
  }
}

.customers-carusel {
  .owl-prev,
  .owl-next {
    background-color: $-white--color!important;
    top: -360px;
    z-index: -1!important;
  }
  .owl-stage {
    padding: 35px 0;
  }
  .owl-stage-outer {
    overflow: visible!important;
  }
}

.aside-menu__certificates {
  .owl-prev,
  .owl-next {
    top: calc(50% - 37px);
    position: absolute;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: $-white--color!important;
    color: $-active--color!important;
    border: 1px solid $-icon-border--color!important;
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
  .owl-prev:hover,
  .owl-next:hover {
    color: $-white--color!important;
    background-color: $-active--color!important;
    border: none!important;
  }
}

.projects-item-carusel {
  .owl-prev,
  .owl-next {
    margin-top: -375px;
    color: $-white--color!important;
    border: 1px solid $-white--color!important;
    @include media-breakpoint-down(md) {
      margin-top: -395px;
    }
  }
  .owl-prev:hover,
  .owl-next:hover {
    color: $-white--color!important;
    background-color: $-active--color!important;
    border: none!important;
  }
  .owl-next {
    margin-right: 40px;
    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }
  }
}