//Typography
$-default-font:                    'Lato', 'Arial', 'Helvetica', 'Roboto', sans-serif;

//Colors
$-active--color:                  #13aae0;
$-add-button--color:              #9abbca;
$-black--color:                   #000000;
$-gray--color:                    #505050;
$-gray-light--color:              #c9c9c9;
$-gray-medium--color:             #b7b7b7;
$-white--color:                   #ffffff;
$-border-light--color:            #ebebeb;
$-border-dark--color:             #b7b7b7;
$-background--light-blue--color:  #e4eff4;
$-placeholder--color:             #6c6c6c;
$-underlining--color:             #c7cfd2;
$-input-border--color:            #e1e1e1;
$-icon-border--color:             #dfdfdf;


//Font size
$-menu--font_size:                 25px;
$-default--font_size:              16px;
$-heading-xl--font_size:           54px;
$-heading-lg--font_size:           50px;
$-heading-md--font_size:           45px;
$-heading-sm--font_size:           32px;

//Customization Bootstrap vars
$grid-gutter-width:               30px;
$grid-columns:                    12;
$grid-breakpoints: (
  xs:                             0,
  sm:                             576px,
  md:                             768px,
  lg:                             992px,
  xl:                             1200px
);
$container-max-widths: (
  sm:                             540px,
  md:                             720px,
  lg:                             960px,
  xl:                             1140px
);

$gutter:                          $grid-gutter-width;


//mix--$active-color
$--active-color-darken-05: mix($-black--color, $-active--color, 5%) !default;
$--active-color-darken-10: mix($-black--color, $-active--color, 10%) !default;
$--active-color-darken-15: mix($-black--color, $-active--color, 15%) !default;
$--active-color-darken-20: mix($-black--color, $-active--color, 20%) !default;
$--active-color-darken-25: mix($-black--color, $-active--color, 25%) !default;
$--active-color-darken-30: mix($-black--color, $-active--color, 30%) !default;
$--active-color-darken-35: mix($-black--color, $-active--color, 35%) !default;
$--active-color-darken-40: mix($-black--color, $-active--color, 40%) !default;
$--active-color-darken-45: mix($-black--color, $-active--color, 45%) !default;
$--active-color-darken-50: mix($-black--color, $-active--color, 50%) !default;
$--active-color-darken-55: mix($-black--color, $-active--color, 55%) !default;
$--active-color-darken-60: mix($-black--color, $-active--color, 60%) !default;
$--active-color-darken-65: mix($-black--color, $-active--color, 65%) !default;
$--active-color-darken-70: mix($-black--color, $-active--color, 70%) !default;
$--active-color-darken-75: mix($-black--color, $-active--color, 75%) !default;
$--active-color-darken-80: mix($-black--color, $-active--color, 80%) !default;
$--active-color-darken-85: mix($-black--color, $-active--color, 85%) !default;
$--active-color-darken-90: mix($-black--color, $-active--color, 90%) !default;
$--active-color-darken-95: mix($-black--color, $-active--color, 95%) !default;