//Typography
$default-font:                    Arial, Roboto, Helvetica, sans-serif;

//Colors
$heading-bg-color:                #171b57;
$active-color:                    #1aaf8e;
$dropdown-color:                  #171b57;
$list-hover:                      #088368;
$ul-list-color:                   rgb(25, 148, 132);
$text-white:                      #ffffff;
$text-black:                      #000000;
$border-color:                    #f2f4f5;
$button-color:                    #199484;
$placeholder-color:               #b5b5b5;
$placeholder-hover-color:         #4d4946;
$input--border-color:             #dddddd;

//Font size
$h1-font_size:                    40px;
$section-heading-size:            30px;
$base-font_size:                  16px;
$aside-font_size:                 17px;
$label-font_size-sm:              12px;
$button-font_size:                13px;
$label-font_size-normal:          14px;
$label-font_size-lg:              21px;
$label-contact:                   20px;

//Customization Bootstrap vars
$grid-gutter-width:               30px;
$grid-columns:                    12;
$grid-breakpoints: (
  xs:                             0,
  sm:                             576px,
  md:                             769px,
  lg:                             992px,
  xl:                             1200px
);
$container-max-widths: (
  sm:                             540px,
  md:                             720px,
  lg:                             960px,
  xl:                             1140px
);

$gutter:                          $grid-gutter-width;


//mix--$active-color
$--active-color-darken-05: mix($text-black, $active-color, 5%) !default;
$--active-color-darken-10: mix($text-black, $active-color, 10%) !default;
$--active-color-darken-15: mix($text-black, $active-color, 15%) !default;
$--active-color-darken-20: mix($text-black, $active-color, 20%) !default;
$--active-color-darken-25: mix($text-black, $active-color, 25%) !default;
$--active-color-darken-30: mix($text-black, $active-color, 30%) !default;
$--active-color-darken-35: mix($text-black, $active-color, 35%) !default;
$--active-color-darken-40: mix($text-black, $active-color, 40%) !default;
$--active-color-darken-45: mix($text-black, $active-color, 45%) !default;
$--active-color-darken-50: mix($text-black, $active-color, 50%) !default;
$--active-color-darken-55: mix($text-black, $active-color, 55%) !default;
$--active-color-darken-60: mix($text-black, $active-color, 60%) !default;
$--active-color-darken-65: mix($text-black, $active-color, 65%) !default;
$--active-color-darken-70: mix($text-black, $active-color, 70%) !default;
$--active-color-darken-75: mix($text-black, $active-color, 75%) !default;
$--active-color-darken-80: mix($text-black, $active-color, 80%) !default;
$--active-color-darken-85: mix($text-black, $active-color, 85%) !default;
$--active-color-darken-90: mix($text-black, $active-color, 90%) !default;
$--active-color-darken-95: mix($text-black, $active-color, 95%) !default;