div.block-container.footer.footer-index
  div.footer__info
    div.footer__info_logo
      img(src="/img/index/logo.png", alt="Логотип ИК Строймост")
    div.footer__info_text
      h3.footer__info_text-heading ООО ИК Строймост
      p.footer__info_text-title Строительство и строительная экспертиза
  div.footer__tel
    p.footer__tel_title Звонки по всей России бесплатно
    a.footer__tel_value(href="tel:88004556699") 8 (800) 455 66 99