.alert-success {
  position: fixed;
  display: none;
  align-items: flex-start;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  overflow: auto;
  &__overlay {
    width: inherit;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    animation: viewOverlay .45s ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }
  &__block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 155px;
    margin-bottom: 155px;
    padding: 34px;
    width: 456px;
    background-color: $-white--color;
    border-radius: 5px;
    animation: viewModal .45s ease-in-out;
    animation-fill-mode: forwards;
    @include media-breakpoint-down(xs) {
      margin: 60px 15px;
    }
  }
  &__block_close-button {
    position: absolute;
    top: -63px;
    right: -68px;
    background-color: rgba(255,255,255,0);
    border: none;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
    @include media-breakpoint-down(sm) {
      top: -45px;
      right: -5px;
    }
  }
  &__block_close-button:hover {
    opacity: .6;
  }
  &__block_button-img svg {
    width: 51px;
    height: 51px;
    @include media-breakpoint-down(sm) {
      width: 30px;
      height: 30px;
    }
  }
  &__block_check {
    width: 54px;
    height: 54px;
  }
  &__block_heading {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 50px;
    color: $-active--color;
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
      font-size: 40px;
      line-height: 40px;
    }
  }
  &__block_text {
    margin-bottom: 0;
    font-size: 17px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

@keyframes viewOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes viewModal {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(.8);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}