.news {
  padding: 60px 0;
  @include media-breakpoint-down(xs) {
    padding: 30px 0;
  }
  &__heading {
    margin-bottom: 35px;
    font-size: $-heading-xl--font_size;
    line-height: $-heading-xl--font_size;
    @include media-breakpoint-down(xs) {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 24px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 30px;
    border-radius: 3px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    @include media-breakpoint-down(xs) {
      padding: 0;
      min-height: 231px;
    }
  }
  &__item:hover {
    background-color: $-active--color;
    color: $-white--color;
    @include media-breakpoint-down(xs) {
      background-color: $-white--color;
      color: $-black--color;
    }
  }
  &__item_date {
    margin-bottom: 25px;
    font-size: 14px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }
  }
  &__item_heading {
    max-width: 320px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
    @include media-breakpoint-down(xs) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  &__item_text {
    margin-bottom: 28px;
    max-width: 320px;
    font-size: 20px;
    line-height: 32px;
    @include media-breakpoint-down(xs) {
      max-width: 100%;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .button {
    @include media-breakpoint-down(xs) {
      padding: 20px 30px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }
  }
  .button:hover {
    @include media-breakpoint-down(xs) {
      transform: scale(1);
      background-color: $-active--color;
      color: $-white--color;
    }
  }
}