.news {
  padding: 60px 0;
  &__heading {
    margin-bottom: 35px;
    font-size: $-heading-xl--font_size;
    line-height: $-heading-xl--font_size;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 30px;
    border-radius: 3px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }
  &__item:hover {
    background-color: $-active--color;
    color: $-white--color;
  }
  &__item_date {
    margin-bottom: 25px;
    font-size: 14px;
  }
  &__item_heading {
    max-width: 320px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
  }
  &__item_text {
    margin-bottom: 28px;
    max-width: 320px;
    font-size: 20px;
    line-height: 32px;
  }
}