.projects-section {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 527px;
  background-color: #e6e4ca;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)), url('../img/index/content/school.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto auto;
  @include media-breakpoint-down(sm) {
    display: flex;
    padding: 30px 0;
  }
  &__heading {
    margin-bottom: 50px;
    font-size: $-heading-xl--font_size;
    line-height: 58px;
    font-weight: 700;
    color: $-white--color;
    @include media-breakpoint-down(md) {
      font-size: 36px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  .block-container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__date {
    margin-bottom: 8px;
    font-size: 14px;
    color: $-white--color;
    font-weight: 400;
  }
  &__subheading {
    font-size: $-heading-lg--font_size;
    line-height: $-heading-lg--font_size;
    color: $-white--color;
    font-weight: 700;
    @include media-breakpoint-down(md) {
      font-size: 38px;
      margin-bottom: 15px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 17px;
    }
  }
  &__text {
    margin-bottom: 25px;
    max-width: 630px;
    font-size: 20px;
    line-height: 32px;
    color: $-white--color;
    font-weight: 400;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .button {
    @include media-breakpoint-down(sm) {
      padding: 20px 32px;
    }
  }
}

.projects-carusel .owl-nav {
  @include media-breakpoint-down(sm) {
    padding: 0 15px;
  }
}
